# Classeur de test pour v√©rifier configuration de son poste

In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('data/raw/donneesmeteo_2011-2015_completes_v2.csv', sep = ';')
df.head(5)

,codearvalis,libellecourt,datemesure,valeur,valeurorigine,idstatut,idmodeobtention
0,3661,TM,2015-10-21,9.8,NaN,3,2.0
1,9505,TX,2013-12-16,13.9,NaN,1,1.0
2,4954,RR,2015-03-31,0.2,NaN,1,1.0
3,1430,TN,2015-07-01,20.2,NaN,1,1.0
4,4758,RR,2013-07-09,0.0,NaN,1,NaN