# Classeur de test pour v√©rifier configuration de son poste

In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('data/donneesmeteo_2011-2015_completes.csv', sep = ';')
df.head(5)

,Unnamed: 0,codearvalis,libellecourt,datemesure,valeur,valeurorigine,idstatut,idmodeobtention
0,1,5130,ETP,2014-10-14,1.40,NaN,1,3.0
1,2,4803,ETP,2011-08-31,3.73,NaN,2,3.0
2,4,4985,TX,2012-05-30,24.50,NaN,1,3.0
3,5,2351,ETP,2011-07-27,3.20,NaN,2,1.0
4,6,1777,TX,2013-02-07,7.20,NaN,1,NaN